/*
 * Declare all CSS theme vars here
 */

:root {
  --primary-color: #1f1f1f;
  --primary-color-darker: #111111;
  --primary-color-border: #000000;
  --on-primary-color: #bababa;
  --secondary-color: #0b59b8;
  --secondary-color-darker: #06346b;
  --secondary-color-border: #042a4a;
  --on-secondary-color: #dddddd;

  /* Context state colors */
  --context-color-danger: #ff4d4f;
  --context-color-danger-border: #a8071a;
  --on-context-color-danger: #dddddd;

  --spacing-unit: 0.25rem;
  --input-height: 3rem;
  --toolbar-height: 3rem;
  --button-padding: calc(var(--spacing-unit) * 2);
  --input-padding: 0 calc(var(--spacing-unit) * 2);
  --border-radius: 4px;
  --shadow:
    1px 2px 2px rgba(0, 0, 0, 0.1), 2px 4px 4px rgba(0, 0, 0, 0.1), 3px 6px 6px rgba(0, 0, 0, 0.1);

  --z-index-context-menu: 1000;
  --z-index-transform-controls: 100;
  --z-index-toolbar: 100;

  --transform-handle-size: 14px;
  --transform-handle-border-color: white;
  --transform-handle-color: var(--secondary-color);
  --transform-region-color: var(--secondary-color);
  --transform-region-border-color: white;

  @media (pointer: coarse) {
    --transform-handle-size: 24px;
    --button-padding: calc(var(--spacing-unit) * 4);
  }
}
